body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #eef2f3;
}

.login-box {
    width: 300px;
    padding: 20px;
    background: white;
    margin: 100px auto;
    box-shadow: 0px 0px 10px #999;
    border-radius: 8px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}
